*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*custom scrolbar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #FFFFFF;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: #633B31;
}
/*header navigation bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
}

.logo{
    color: #633B31;
    -webkit-text-stroke: 1px #EDCFB0;
    font-family: 'Arial', sans-serif;
    padding: 2rem 9%;
    font-size: 35px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #633B31;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-right: 50px;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    /*background: #4a509b;*/
    background-color: #633B31;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*home screen*/
section{
    padding: 2rem 9%;
    /*height: 100vh;*/
}
#home_screen{
    background-image: url("assets/background_sweetopia.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 50px;
    height: 100vh;
}
#home_screen h1{
    color: #633B31;
    font-weight: bold;
    font-size: 98px;
}
#home_screen h2{
    color: #AD7946;
    font-weight: bold;
    font-size: 60px;
}
#home_screen p{
    color: #633B31;
    font-size: 26px;
    position: relative;
    width: 50%;
}
#knoppen_home{
    display: flex;
    flex-direction: row;
}
#home_screen .button{
    background-color: #633B31;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 27px;
    width: 158.82px;
    height: 54px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
}
#home_screen .button a{
    text-decoration: none;
    color: white;
}
#home_screen .button:hover{
    background-color: #AD7946;
}

nav .fa-solid{
    display: none;
}
/*about screen*/
.heading-about{
    text-align: center;
    font-size: 4rem;
    color: #AD7946;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #F7EEE6;
    border-radius: 60px;
}
.heading-about span{
    color: #633B31;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .foto-container{
    /*flex:  1 1 40rem;*/
    position: relative;
}
.about .row .foto-container img{
    width: 650px;
    max-width: 100%;
    height: 100%;
    border: .1rem solid #633B31;
    object-fit: cover;
}
.about .row .content-about{
    flex: 1 1 40rem;
}
.about .row .content-about h3{
    font-size: 3rem;
    color: #AD7946;
}.about .row .content-about p{
    font-size: 1.5rem;
    color: #633B31;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
/*icons container*/
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: .5rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icons-container .icons i{
    font-size: 2.5rem;
    margin: 2rem;
}
.icons-container .icons h3{
    color: #333;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}
/*our products pagina*/
.products{
    background-color: #F7EEE6;
}
.heading-product{
    text-align: center;
    font-size: 4rem;
    color: #AD7946;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #FFFFFF;
    border-radius: 60px;
}
.heading-product span{
    color: #633B31;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box{
    flex: 1 1 10rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    background-color: #FFFFFF;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height: 20rem;
}
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}
.products .box-container .box .content h3{
    font-size: 1.5rem;
    color: #633B31;
}
.products .box-container .box .content{
    text-align: center;
    padding: 2rem;
}
.products .box-container .box .content .price{
    font-size: 1.5rem;
    color: #AD7946;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}
.products .content p{
    color: #633B31;
    font-size: 1rem;
}
/*contact pagina*/
.heading-contact{
    text-align: center;
    font-size: 4rem;
    color: #AD7946;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #F7EEE6;
    border-radius: 60px;
}
.heading-contact span{
    color: #633B31;
}
.contact-right{
    background-color: #F7EEE6;
    padding: 40px;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
.container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-left{
    flex-basis: 30%;
}
.contact-right{
    flex-basis: 70%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #633B31;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #633B31;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #AD7946;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color: #633B31;
    color: #ffffff;
    border-radius: 0.5rem;
    width: 158.82px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #FFFFFF;
    padding: 15px;
    margin: 15px 0;
    color: #633B31;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.contact-left h2{
    font-size: 60px;
    color: #633B31;
}
/*footer*/
footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}



@media screen and (max-width: 1070px){
    nav, header{
        width: 100%;
    }
    nav ul li{
        margin: 10px 0;
    }

    nav ul li a{
        margin-right: 10px;
    }
    #home_screen{
        background-image: none;
        background-color: #F7EEE6;
    }
    #home_screen h1{
        font-size: 64px;
    }
    #home_screen h2{
        font-size: 40px;
    }
    #home_screen p{
        font-size: 23px;
        width: 100%;
    }

}
@media screen and (max-width: 700px) {
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #FFFFFF;
    }
    nav ul{
        background: #633B31;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2000;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #FFFFFF;
    }
    #menu-icon{
        margin-right: 20px;
        color: #633B31;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a::after{
        background-color: #FFFFFF;
    }
    #home_screen {
        height: 100%;
        padding-bottom: 60px;
        padding-top: 60px;
        background-image: none;
        background-color: #F7EEE6;
    }
    #home_screen h1{
        color: #633B31;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        text-align: left;
        z-index: 1000;
    }
    #home_screen h2{
        color: #AD7946;
        font-weight: bold;
        font-size: 1.5rem;
        position: relative;
        text-align: left;
        z-index: 1000;
    }
    #home_screen p{
        color: #633B31;
        font-size: 1rem;
        position: relative;
        width: 80%;
        text-align: left;
        z-index: 1000;
    }

    #home_screen .button{
        display: none;
    }
    #contact_knop{
        display: inline-block;
        font-size: 12px;
        width: auto;
        padding: 5px 10px;
        border-radius: 15px;
        top: 35px;
        margin-bottom: 5rem;
    }
    /*about screen*/
    .heading-about{
        font-size: 2rem;
    }
    .about .row .content-about h3{
        font-size: 2rem;
    }
    .about .row .content-about p{
        font-size: 1rem;
    }
    .heading-product{
        font-size: 2rem;
    }
    /*our product*/
    .products .box-container .box .discount{
        font-size: 1.5rem;
    }
    .products .heading-product {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .products .box-container .box {
        flex: 1 1 100%;
    }

    .products .box-container .box .image img {
        height: 15rem;
    }

    .products .box-container .box .content h3 {
        font-size: 1.5rem;
    }

    .products .box-container .box .content .price {
        font-size: 1.5rem;
        padding-top: 0.5rem;
    }

    .products .box-container .box .content .price span {
        font-size: 1rem;
    }
    /*contact media*/
    .heading-contact{
        font-size: 2rem;
    }
    .container .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-right{
        padding: 20px;
    }
    .contact-left h2{
        font-size: 1.8rem;
    }
    .logo{
        color: #633B31;
        -webkit-text-stroke: 1px transparent;
        font-family: 'Arial', sans-serif;
        padding: 2rem 9%;
        font-size: 35px;
    }

}