*{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
body{

}
/*home pagina*/
nav{
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:  0 5%;
}
header{
    background-color: #F7EEE6;
    width: 100%;
    height: 100vh;
    position: relative;
}
.logo{
    color: #633B31;
    -webkit-text-stroke: 1px #EDCFB0;
    position: relative;
    left: 65px;
    font-size: 2rem;
}
nav ul{
    align-items: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    width: 150px;
}
nav ul li a{
    color: #633B31;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    right: 25px;
    margin-right: 65px;
    white-space: nowrap;
}
nav ul li a span{
    font-weight: bold;
}
nav ul li a:hover{
    font-weight: bold;
}
.header-inhoud{
    position: relative;
}
.header-inhoud  img{
    width: 703px;
    height: 703px;
    position: absolute;
    right: 35px;
    top: 0;
    z-index: 1;
}
.header-inhoud h1{
    color: #633B31;
    font-weight: bold;
    font-size: 98px;
    position: relative;
    z-index: 2;
    margin-left: 50px;
    top: 180px;
}
.header-inhoud h2{
    color: #AD7946;
    font-weight: bold;
    font-size: 60px;
    position: relative;
    margin-left: 50px;
    z-index: 2;
    top: 180px;
}
.header-inhoud p{
    color: #633B31;
    font-size: 26px;
    margin-left: 50px;
    z-index: 2;
    position: relative;
    width: 40%;
    top: 200px;
}
.header-inhoud .button{
    background-color: #633B31;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 27px;
    width: 158.82px;
    height: 54px;
    outline: none;
    border: none;
    position: relative;
    left: 50px;
    top: 220px;
    font-size: 16px;
    margin-right: 10px;
    z-index: 2;
}
.button a{
    text-decoration: none;
    color: white;
}
.header-inhoud .button:hover{
    background-color: #AD7946;
}
/*about pagina*/
.about-inhoud{
    width: 100%;
    height: 100vh;
}
.background-titel{
    background-color: #F7EEE6;
    width: 80%;
    height: 127px;
    border-radius: 54px;
    align-items: center;
    justify-content: center;
    margin: 65px auto;
    z-index: 1;
    position: relative;
}
.background-titel h1{
    z-index: 2;
    text-align: center;
    position: relative;
    margin: 0;
    color: #633B31;
    font-weight: bold;
    font-size: 98px;
    line-height: 127px;
}
.background-titel h1 span{
    color: #AD7946;
}
.about-text h2{
    position: relative;
    color: #AD7946;
    font-weight: bold;
    font-size: 60px;
    margin-left: 65px;
    margin-top: 120px;
}
.about-text p{
    color: #633B31;
    margin-top: 20px;
    width: 40%;
    position: relative;
    left: 65px;
}
.about-kader{
    position: absolute;
    background-color: #F7EEE6;
    border: 1px solid #633B31;
    height: 50%;
    width: 40%;
    right: 5%;
    top: 1250px;
}
/*product*/
.product-inhoud{
    width: 100%;
    background-color: #F7EEE6;
    height: 100vh;
}
.background-titel-products{
    background-color: #FFFFFF;
    width: 80%;
    height: 127px;
    border-radius: 54px;
    align-items: center;
    justify-content: center;
    margin: 65px auto;
    z-index: 1;
    position: relative;
    top: 65px;
}
.background-titel-products h1{
    z-index: 2;
    text-align: center;
    position: relative;
    margin: 0;
    color: #633B31;
    font-weight: bold;
    font-size: 98px;
    line-height: 127px;
}
.background-titel-products h1 span{
    color: #AD7946;
}

/*media queries*/
@media only screen and (max-width: 600px) {
    .header-inhoud h1{
        color: #633B31;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        text-align: center;
        top: 40px;
    }
}
@media only screen and (max-width: 1024px) {
    nav{
        display: none;
    }

}
@media only screen and (min-width: 1025px) {
    /* Stijlen voor grote schermen */
}