*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*header navigation bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
}

.logo{
    color: #633B31;
    /*-webkit-text-stroke: 1px #EDCFB0;*/
    padding: 2rem 9%;
    font-size: 35px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #633B31;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-right: 50px;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    /*background: #4a509b;*/
    background-color: #633B31;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/*home screen*/
section{
    padding: 2rem 9%;
    height: 100vh;
}
#home_screen{
    background-image: url("assets/background_sweetopia.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 50px;
}
#home_screen h1{
    color: #633B31;
    font-weight: bold;
    font-size: 98px;
}
#home_screen h2{
    color: #AD7946;
    font-weight: bold;
    font-size: 60px;
}
#home_screen p{
    color: #633B31;
    font-size: 26px;
    position: relative;
    width: 50%;
}
#knoppen_home{
    display: flex;
    flex-direction: row;
}
#home_screen .button{
    background-color: #633B31;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 27px;
    width: 158.82px;
    height: 54px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
}
#home_screen .button a{
    text-decoration: none;
    color: white;
}
#home_screen .button:hover{
    background-color: #AD7946;
}

nav .fa-solid{
    display: none;
}
/*about screen*/
main section#about_screen {
    background-color: #FFFFFF;
    background-size: cover;
}

.about-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.background-titel {
    background-color: #F7EEE6;
    width: 80%;
    height: 127px;
    border-radius: 54px;
    margin: 30px 0;
    z-index: 1;
}

.background-titel h1 {
    z-index: 2;
    text-align: center;
    margin: 0;
    color: #633B31;
    font-weight: bold;
    font-size: 70px;
    line-height: 127px;
}

h1 span {
    color: #AD7946;
}
/*our products pagina*/
#product-titel{
    background-color: #FFFFFF;
    width: 80%;
    height: 127px;
    border-radius: 54px;
    margin: 30px 0;
    z-index: 1;
}
#product-titel h1{
    z-index: 2;
    text-align: center;
    margin: 0;
    color: #633B31;
    font-weight: bold;
    font-size: 70px;
    line-height: 127px;
}
#product-screen{
    display: flex;
    flex-direction: column;
    background-color: #F7EEE6;
    align-items: center;
}


@media screen and (max-width: 1070px){
    nav, header{
        width: 100%;
    }
    nav ul li{
        margin: 10px 0;
    }

    nav ul li a{
        margin-right: 10px;
    }
    #home_screen h1{
        font-size: 64px;
    }
    #home_screen h2{
        font-size: 40px;
    }
    #home_screen p{
        font-size: 23px;
        width: 100%;
    }

}
@media screen and (max-width: 700px) {
    nav .fa-solid{
        display: block;
        font-size: 25px;
        color: #FFFFFF;
    }
    nav ul{
        background: #633B31;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2000;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: #FFFFFF;
    }
    #menu-icon{
        margin-right: 20px;
        color: #633B31;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a::after{
        background-color: #FFFFFF;
    }
    main section#home_screen {
        height: auto;
    }
    main section#home_screen h1{
        margin-top: 5rem;
        color: #633B31;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        text-align: left;
        z-index: 1000;
    }
    main section#home_screen h2{
        color: #AD7946;
        font-weight: bold;
        font-size: 1.5rem;
        position: relative;
        text-align: left;
        z-index: 1000;
    }
    main section#home_screen p{
        color: #633B31;
        font-size: 1rem;
        position: relative;
        width: 80%;
        text-align: left;
        z-index: 1000;
    }

    main section#home_screen .button{
        display: none;
    }
    main section#home_screen #contact_knop{
        display: inline-block;
        font-size: 12px;
        width: auto;
        padding: 5px 10px;
        border-radius: 15px;
        top: 35px;
        margin-bottom: 5rem;
    }
    /*about screen*/

}